---
layout: default
title: Home
---

<h1>HelloQt5</h1>

{% assign platforms = site.array %}
{% assign branches = site.array %}
{% assign builds = site.array %}

{% for d in site.data %}
{% if d[1].type == 'build' %}
  {% assign platforms = platforms | push: d[1].platform %}
  {% assign branches = branches | push: d[1].branch %}
  {% assign builds = builds | push: d[1] %}
{% endif %}
{% endfor %}

{% assign platforms = platforms | uniq %} 
{% assign branches = branches | uniq %} 

<table>
<tr>
    <th>OS</th>
    {% for b in branches %}
    <th>{{ b }}</th>
    {% endfor %}
</tr>

{% for p in platforms %}
<tr>
    <td>{{ p }}</td>
    {% for b in branches %}
        <td>
        {% assign _builds = builds | where_exp: "i", "i.platform == p" %}
        {% assign _builds = _builds | where_exp: "i", "i.branch == b" %}
        {% assign _builds = _builds | sort: 'number' | reverse | %}
        
        {% for b in _builds limit: 3%}
        {{ b.number }} &nbsp;
        <a href={{ b.artifact_url }}>{{ b.artifact }}</a><br/>
        {% endfor %}
        </td>
    {% endfor %}
</tr>
{% endfor %}
</table>
