---
layout: default
title: Home
---

<h1>HelloQt5</h1>

site.builds.mac_master.branch: {% site.builds.mac_master.branch %} <br/>

{% assign platforms = site.array %}
{% assign branches = site.array %}

{% for b in site.builds %}
  {% assign platforms = platforms | push: b.platform %}
  {% assign branches = branches | push: b.branch %}
{% endfor %}

{% assign platforms = platforms | uniq %} 
platforms:
{% for p in platforms %}
{{ p }} &nbsp;
{% endfor %}
<br/>
{% assign branches = branches | uniq %} 
branches:
{% for b in branches %}
{{ b }} &nbsp;
{% endfor %}
<br/>


<br/>

<table>
<tr>
    <th>OS</th>
    {% for b in branches %}
    <th>{{ b }}</th>
    {% endfor %}
</tr>

{% for p in platforms %}
<tr>
    <td>{{ p }}</td>
    {% for b in branches %}
    <td><a href="http://dl.bintray.com/kaplan2539/HelloQt5/{{ b }}/{{ p }}/{{ p }}">{{ p }}</a></td>
    {% endfor %}
</tr>
{% endfor %}
</table>
