---
layout: default
title: Home
---

<h1>HelloQt5</h1>

{% assign platforms = site.array %}

{% for b in site.builds %}
  {% assign platforms = platforms | push: b.plat %}
  {{ b.platform | default: "no platform" }} <br/>
  {{ b.branch | default: "no branch" }} <br/>
{% endfor %}

{% assign platforms = platforms | uniq %} 
platforms:
{% for p in platforms %}
{{ p }} &nbsp;
{% endfor %}

<br/>

<table>
<tr>
    <th>OS</th>
    {% for b in site.branches %}
    <th>{{ b.title }}</th>
    {% endfor %}
</tr>

{% for p in site.platforms %}
<tr>
    <td>{{ p.title }}</td>
    {% for b in site.branches %}
    <td><a href="http://dl.bintray.com/kaplan2539/HelloQt5/{{ b.title }}/{{ p.title }}/{{ p.artifact }}">{{ p.artifact }}</a></td>
    {% endfor %}
</tr>
{% endfor %}
</table>
